.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #157c63;
  padding: 10px 20px;
  color: white;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links Button {
  margin-left: 20px;
  color: white;
  background-color: #013a2c;
  text-decoration: none;
}

.navbar-links Button:hover {
  text-decoration: underline;
  background-color: black;
}
