.search-bar {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.search-bar input {
  width: 60%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px 0 0 8px;
  outline: none;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #157c63;
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #10362d;
}
